*{
margin:0;
padding:0;
box-sizing:border-box;

}
body,html{
overflow-x:hidden;

}
.contact{
display:block;
justify-content:center;
align-items:center;
color:#d26a25;
border:1px solid #d26a25;
border-radius:10px;
padding:20px 20px;
}
.content , .header{
text-align:center;
font-weight:800;
margin-bottom:30px;
}
.content form{
display:block;
}
.input{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
color: white;
border:1px solid white;
margin-bottom:1.5rem;
font-size: 0.7rem;
border-bottom: #d26a25;
}
.input:hover{
    border-bottom:3px solid #d26a25;
    transition: 0.2 ease-in-out;
    outline:none;
}
#email, #email::placeholder{
width: 100%;
border: none;
background: none;
outline: none;
color: #d26a25;
margin-top: 0.5rem;
font-size: 0.8rem;
padding-bottom: 0.5rem;
}
#name, #name::placeholder{
width: 100%;
border: none;
background: none;
outline: none;
color: #d26a25;
margin-top: 0.5rem;
font-size: 0.8rem;
padding-bottom: 0.5rem;
}
#msg{
border:1px solid #d26a25;
border-radius:7px;

}
#msg , #msg::placeholder{
width: 100%;
border: none;
background: none;
outline: none;
color: #d26a25;
margin-top: 0.5rem;
font-size: 0.8rem;
padding-bottom: 0.5rem;
}
.btn{
            width: 100%;
            background:#d26a25;
            border:none;
            border-radius: 30px;
            padding: 14px 14px;
            font-size:0.9rem;
            font-weight: 500;
            text-transform: uppercase;
            color: #0145ff;
            outline: none;
            margin-top:70px;
        }
        .btn:hover{
            width: 100%;
            background: transparent;
            border:2px solid white;
            border-radius: 30px;
            padding: 14px 14px;
            font-size:0.9rem;
            font-weight: 500;
            text-transform: uppercase;
            color: #d26a25;
            outline: none;  
            transition: 0.3s ease-in-out; 
        }
.icons{
display:flex;
justify-content: space-between;
}
.icons img{
    margin-top: 16px;
width: 40px;
height:40px;
border-radius: 7px;
}
ul{
list-style:none;
color: #d26a25;
}
.active{
text-decoration:underline;
font-weight:bold;
}
.navbar{
position:absolute;
top:0;
left:0;
display:flex;
width:100%;
justify-content:space-between;
padding:20px;
}
.nav-links{
display:flex;
align-items:center;
}
.nav-links li{
margin:0 30px;
color:blue;


}
header{
width:100vw;
height:100vh;
background-image:url("./efef.jpg");
background-size:cover;
background-position:bottom;
display:flex;
align-items:center;
justify-content:center;
border-bottom-right-radius:320px;
}
a{
text-decoration:none;
color:#f2e7e7;
}
.header-content{
    margin-top: 150px;
margin-bottom:150px;
color:#d26a25;
text-align:center;
}
.header-content h2{
font-size:5vmin;
}
.line{
width:151px;
height:5px;
background:#d26a25;
margin:10px auto;
}
.header-content h1{
font-size:7vmin;
margin-top:50px;
margin-bottom:30px;
}
.ctn{
padding:8px 15px;
background-color:#d26a25;
border-radius:30px;
color:whitesmoke;
border:1px solid white;
}
.menu-btn{
position:absolute;
top:30px;
right:30px;
width:40px;
cursor:pointer;
display:none;
}
section{
width:80%;
margin:80px auto;
}
.title{
text-align:center;
font-size:4vmin;
color:rgb(73,73,176);

}
.row{
display:flex;
align-items:center;
width:100%;
justify-content:space-between;
}
.row .col {
   display:flex;
   flex-direction: column;
   align-items: center;

}
.row .col img{
    width: 80%;
}
.event .row{
margin-top:50px;
}
h4{
font-size:3vmin;
color:#d26a25;
margin:20px auto;
}
p{
color:#7c7c7c;
padding:0px 40px;

}
.event .ctn{
margin-top:30px;
}
.explore{
width:100%;
height:100vh;
background-image:url("./images (9).jpeg");
background-position:center;
background-size:cover;
background-repeat:no-repeat;
display:flex;
align-items:center;
}
.explore-content{
width:60%;
padding:50px;
color:#d26a25;
display:flex;
align-items:center;
flex-direction:column;
}
.explore-content h1{
font-size:7vmin;


}
.explore-content .line{
margin-bottom:50px;
}
.explore-content p{
color:#d26a25;
font-size: 18px;
font-weight: 1000;

}
.uche img{
position:relative;
justify-content:center;
width: 70vmin;
height: 70vmin;
border-radius: 47vmin;
padding: 10px 20px;
margin: 10px 33.3%;
align-content: center;
align-items: center;
}
.explore-content .ctn{
margin-top:40px;
}
.content-col{
width:40%;
}
.image-col{
width:60%;
}
.tours .image-gallery{
display:flex;
flex-wrap:wrap;
width:100%;
align-items:center;

}
.image-gallery img{
max-width:300px;
margin:10px;

}
.image-col h4{
font-size:50px;
text-align:center;
}
.content-col h1{
font-size:7vmin;
color:#484872;

}
.content-col .line{
margin-left:-1px;
}
.content-col p{
padding:0;
margin:30px auto;

}
.content-col .ctn{
margin-left:-100px;
}
.footer{
width:100%;
min-height:100px;
padding:20px 80px;
margin:0;
background:#d26a25;
text-align:center;
}
.footer p{
color:whitesmoke;
margin:20px auto;
padding:20px auto;
}
.inputs{
display:flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
color: white;
margin-bottom:1.5rem;
font-size: 0.7rem;
border:1px solid #d26a25;
border-radius:16px;
border-bottom: 1px solid #d26a25;
padding:20px 20px;
}
.inputs input{
    border-bottom: 1px solid #d26a25;
}
.inputs:hover{
    border-bottom:3px solid white;
    transition: 0.2 ease-in-out;
}

#message, #message::placeholder{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgba(255,255,255,0.5);
    margin-top: 0.5rem;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    }
    #social, #social::placeholder{
        width: 100%;
        border: none;
        background: none;
        outline: none;
        color: rgba(255,255,255,0.5);
        margin-top: 0.5rem;
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
        }
        #prof, #prof::placeholder{
        width: 100%;
        border: none;
        background: none;
        outline: none;
        color: rgba(255,255,255,0.5);
        margin-top: 0.5rem;
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
        }
        .button{
            width: 100%;
            background: white;
            border:none;
            border-radius: 30px;
            padding: 14px 14px;
            font-size:0.9rem;
            font-weight: 500;
            text-transform: uppercase;
            color: #0145ff;
            outline: none;
        }
        .button:hover{
            width: 100%;
            background: transparent;
            border:2px solid white;
            border-radius: 30px;
            padding: 14px 14px;
            font-size:0.9rem;
            font-weight: 500;
            text-transform: uppercase;
            color: white;
            outline: none;  
            transition: 0.3s ease-in-out; 
        }
/*mobile device*/
@media only screen and (max-width:850px){
.menu-btn{
display:block;
color:#d26a25;
font-weight: 800;
border-radius: 4px;
}
.navbar{
padding:0;
}
.logo{
position:absolute;
top:30px;
left:30px;
color:#d26a25;
}
.nav-links{
flex-direction:column;
width:100%;
height:100vh;
justify-content:center;
background:#d26a25;
margin-top:-900px;
transition:all 0.5s ease;
border-bottom-right-radius:30%;
}
.mobile-menu{
margin-top:0px;
}
.nav-links li{
margin:30px auto;

}
.row{
flex-direction:column;
}
.row .col{
margin:20px auto;
}
.col img{
max-width:90%;
}
.explore-content{
width:100%;

}
.tours .col{
width:100%;
}
.image-gallery img{
width:90%;
}
.footer{
padding:10px;
}
}
img{
transition:transform 0.3s ease;

}
img:hover{
transform: scale(1.1);
}
.ctn:hover{
background:whitesmoke;
color:#fc036b;
box-shadow:2px 2px 5px #00000056;
}